@model DashBourd.ViewModel.LoginVM

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>LoginVM</h4>
<hr />
<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsernameOrEmail" class="control-label"></label>
                    <input asp-for="UsernameOrEmail" class="form-control" />
                    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Register">Register</a>
    <br/>
    <a asp-controller="Account" asp-action="ResendConfiremEmail">Resend Confirem Email</a>
    <br/>
    <a asp-controller="Account" asp-action="ForgetPassword">Forget the Password</a>
    <br/>
    <a asp-action="Index">Back to List</a>    
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

