@model DashBourd.ViewModel.LoginVM

@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    <script>
        toastr.options = {
            "closeButton": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "7000",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "backgroundColor": "#333",
            "newestOnTop": true
        };


        // ✅ عرض الرسائل من TempData
        $(function () {
            @if (TempData["SuccessMessage"] != null)
            {
                    <text>toastr.success("@Html.Raw(TempData["SuccessMessage"])");</text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                    <text>toastr.error("@Html.Raw(TempData["ErrorMessage"])");</text>
            }
        });
    </script>
}
@* Toster stayl *@
<style>
    .toast {
        opacity: 1 !important; /* لون ثابت */
    }

    .toast-success {
        background-color: forestgreen !important; /* أخضر غامق وواضح */
    }

    .toast-error {
        background-color: #dc3545 !important; /* أحمر واضح */
    }
</style>

<h1>Login</h1>

<h4>LoginVM</h4>
<hr />
<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsernameOrEmail" class="control-label"></label>
                    <input asp-for="UsernameOrEmail" class="form-control" />
                    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>    
    <br/>
    <a asp-action="Register">Register</a>
    <br/>
    <a asp-controller="Account" asp-action="ResendConfiremEmail">Resend Confirem Email</a>
</div>


