@model DashBourd.ViewModel.RegisterVM

@* @{
    ViewData["Title"] = "Register";
} *@

<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Register" class="form">
                <p class="title">Register</p>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="flex">
                    <label>
                        <input asp-for="FirstName" class="input" placeholder="" required />
                        <span>Firstname</span>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </label>

                    <label>
                        <input asp-for="LastName" class="input" placeholder="" required />
                        <span>Lastname</span>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </label>
                </div>
                <label>
                    <input asp-for="UserName" class="input" placeholder="" required />
                    <span>UserName</span>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </label>
                <label>
                    <input asp-for="Email" class="input" placeholder="" required />
                    <span>Email</span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </label>

                <label>
                    <input asp-for="Password" class="input" placeholder="" required />
                    <span>Password</span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>

                <label>
                    <input asp-for="ConfermPassword" class="input" placeholder="" required />
                    <span>Confirm password</span>
                    <span asp-validation-for="ConfermPassword" class="text-danger"></span>
                </label>

                <button type="submit" class="submit">Submit</button>

                <p class="signin">Already have an account? <a asp-action="Login">Signin</a></p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
