<div class="content">
    <div class="row g-3 mb-3">
        <div class="col-xxl-8">
            <div class="card overflow-hidden mb-3">
                <div class="card-header audience-chart-header p-0 bg-body-tertiary scrollbar-overlay" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <ul class="nav nav-tabs border-0 chart-tab flex-nowrap" id="audience-chart-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link mb-0 active" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">
                                                    <div class="audience-tab-item p-2 pe-4">
                                                        <h6 class="text-800 fs-11 text-nowrap">Users</h6>
                                                        <h5 class="text-800">3.9K</h5>
                                                        <div class="d-flex align-items-center">
                                                            <svg class="svg-inline--fa fa-caret-up fa-w-10 text-success" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"></path></svg><!-- <span class="fas fa-caret-up text-success"></span> Font Awesome fontawesome.com -->
                                                            <h6 class="fs-11 mb-0 ms-2 text-success">62.0%</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link mb-0" id="sessions-tab" data-bs-toggle="tab" href="#sessions" role="tab" aria-controls="sessions" aria-selected="false" tabindex="-1">
                                                    <div class="audience-tab-item p-2 pe-4">
                                                        <h6 class="text-800 fs-11 text-nowrap">Sessions</h6>
                                                        <h5 class="text-800">6.3K</h5>
                                                        <div class="d-flex align-items-center">
                                                            <svg class="svg-inline--fa fa-caret-up fa-w-10 text-success" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"></path></svg><!-- <span class="fas fa-caret-up text-success"></span> Font Awesome fontawesome.com -->
                                                            <h6 class="fs-11 mb-0 ms-2 text-success">46.2%</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link mb-0" id="rate-tab" data-bs-toggle="tab" href="#rate" role="tab" aria-controls="rate" aria-selected="false" tabindex="-1">
                                                    <div class="audience-tab-item p-2 pe-4">
                                                        <h6 class="text-800 fs-11 text-nowrap">Bounce Rate</h6>
                                                        <h5 class="text-800">9.49%</h5>
                                                        <div class="d-flex align-items-center">
                                                            <svg class="svg-inline--fa fa-caret-down fa-w-10 text-warning" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <span class="fas fa-caret-down text-warning"></span> Font Awesome fontawesome.com -->
                                                            <h6 class="fs-11 mb-0 ms-2 text-warning">56.1%</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link mb-0" id="duration-tab" data-bs-toggle="tab" href="#duration" role="tab" aria-controls="duration" aria-selected="false" tabindex="-1">
                                                    <div class="audience-tab-item p-2 pe-4">
                                                        <h6 class="text-800 fs-11 text-nowrap">Session Duration</h6>
                                                        <h5 class="text-800">4m 03s</h5>
                                                        <div class="d-flex align-items-center">
                                                            <svg class="svg-inline--fa fa-caret-down fa-w-10 text-warning" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <span class="fas fa-caret-down text-warning"></span> Font Awesome fontawesome.com -->
                                                            <h6 class="fs-11 mb-0 ms-2 text-warning">32.2%</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><div class="simplebar-placeholder" style="width: 1042px; height: 96px;"></div>
                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="users" role="tabpanel" aria-labelledby="users-tab">
                            <!-- Find the JS file for the following chart at: src/js/charts/echarts/audience.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <div class="echart-audience" data-echart-responsive="true" style="height: 320px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" _echarts_instance_="ec_1760895982028">
                                <div style="position: relative; width: 1002px; height: 340px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="1002" height="340" style="position: absolute; left: 0px; top: 0px; width: 1002px; height: 340px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(191px, -26px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;">
                                    <div>
                                        <p class="mb-0 fs-11 text-600">Oct 15 vs Oct 08</p>
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 text-600 fs-10">
                                                Users: <span class="text-800 fw-semi-bold fs-10">400</span>
                                            </p>

                                            <div class="d-flex align-items-center ms-2">
                                                <svg class="svg-inline--fa fa-caret-down fa-w-10 text-danger" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <span class="fas fa-caret-down text-danger"></span> Font Awesome fontawesome.com -->
                                                <h6 class="fs-11 mb-0 ms-1 fw-semi-bold">43.42 %</h6>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="sessions" role="tabpanel" aria-labelledby="sessions-tab">
                            <div class="echart-audience" data-echart-responsive="true" style="height:320px;"></div>
                        </div>
                        <div class="tab-pane" id="rate" role="tabpanel" aria-labelledby="rate-tab">
                            <div class="echart-audience" data-echart-responsive="true" style="height:320px;"></div>
                        </div>
                        <div class="tab-pane" id="duration" role="tabpanel" aria-labelledby="duration-tab">
                            <div class="echart-audience" data-echart-responsive="true" style="height:320px;"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Visitors overview<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-5.png);">
                </div>
                <!--/.bg-holder-->

                <div class="card-body position-relative">
                    <div class="row g-2 align-items-sm-center">
                        <div class="col-auto"><img src="../assets/img/icons/connect-circle.png" alt="" height="55"></div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col col-lg-8">
                                    <h5 class="fs-9 mb-3 mb-sm-0 text-primary">Connect your domain to your website and get things done faster with Falcon</h5>
                                </div>
                                <div class="col-12 col-sm-auto ms-auto">
                                    <button class="btn btn-falcon-primary" type="button">Connect</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-4">
            <div class="card h-100 bg-line-chart-gradient">
                <div class="card-header bg-transparent" data-bs-theme="light">
                    <h5 class="text-white">Users online right now</h5>
                    <div class="real-time-user display-1 fw-normal text-white" data-countup="{&quot;endValue&quot;:119}">909</div>
                </div>
                <div class="card-body text-white fs-10 pb-0" data-bs-theme="light">
                    <p class="border-bottom pb-2" style="border-color: rgba(255, 255, 255, 0.15) !important">Page views / second</p>
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/real-time-users.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-real-time-users" style="height: 150px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="true" _echarts_instance_="ec_1760895982036">
                        <div style="position: relative; width: 473px; height: 150px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="473" height="150" style="position: absolute; left: 0px; top: 0px; width: 473px; height: 150px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(313px, 99px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;">
                            <div>
                                <h6 class="fs-10 text-700 mb-0">
                                    <svg class="svg-inline--fa fa-circle fa-w-16 me-1 text-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 text-info"></span> Font Awesome fontawesome.com -->
                                    Users : 991
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-flush mt-4">
                        <div class="rounded-2" style="border:1px solid rgba(255, 255, 255, 0.15)">
                            <div class="px-3 bg-transparent text-white d-flex justify-content-between px-0 py-1 fw-semi-bold border-top-0" style="border-bottom:1px solid rgba(255, 255, 255, 0.15)">
                                <p class="mb-0">Most Active Pages</p>
                                <p class="mb-0">User Count</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-flex justify-content-between px-0 py-1" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/bootstrap-themes/</p>
                                <p class="mb-0">3</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-flex justify-content-between px-0 py-1" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/tags/html5/</p>
                                <p class="mb-0">3</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-xxl-flex justify-content-between px-0 py-1 d-none" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/</p>
                                <p class="mb-0">2</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-xxl-flex justify-content-between px-0 py-1 d-none" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/preview/falcon/dashboard/</p>
                                <p class="mb-0">2</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-flex justify-content-between px-0 py-1" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/100-best-themes...all-time/</p>
                                <p class="mb-0">1</p>
                            </div>
                            <div class="px-3 bg-transparent text-white d-flex justify-content-between px-0 py-1" style="border-bottom:1px solid rgba(255, 255, 255, 0.05)">
                                <p class="mb-0">/product/falcon-admin-dashboard/</p>
                                <p class="mb-0">1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end bg-transparent" data-bs-theme="light"><a class="text-white" href="#!">Real-time data<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fa fa-chevron-right ms-1 fs-10"></span> Font Awesome fontawesome.com --></a></div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-4">
            <div class="card echart-session-by-browser-card h-100">
                <div class="card-header d-flex flex-between-center bg-body-tertiary py-2">
                    <h6 class="mb-0">Session By Browser</h6>
                    <div class="dropdown font-sans-serif btn-reveal-trigger">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-session-by-browser" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-11"></span> Font Awesome fontawesome.com --></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-session-by-browser">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-flex flex-column justify-content-between py-0">
                    <div class="my-auto py-5 py-md-0">
                        <!-- Find the JS file for the following chart at: src/js/charts/echarts/session-by-browser.js-->
                        <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                        <div class="echart-session-by-browser h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982029" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 473px; height: 200px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="473" height="200" style="position: absolute; left: 0px; top: 0px; width: 473px; height: 200px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(114px, 126px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;"><strong>Safari:</strong> 20.6%</div></div>
                    </div>
                    <div class="border-top">
                        <table class="table table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/img/icons/chrome-logo.png" alt="" width="16">
                                            <h6 class="text-600 mb-0 ms-2">Chrome</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <svg class="svg-inline--fa fa-circle fa-w-16 fs-11 me-2 text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle fs-11 me-2 text-primary"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fw-normal text-700 mb-0">50.3%</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <svg class="svg-inline--fa fa-caret-down fa-w-10 text-danger" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg><!-- <span class="fas fa-caret-down text-danger"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fs-11 mb-0 ms-2 text-700">2.9%</h6>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/img/icons/safari-logo.png" alt="" width="16">
                                            <h6 class="text-600 mb-0 ms-2">Safari</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <svg class="svg-inline--fa fa-circle fa-w-16 fs-11 me-2 text-success" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle fs-11 me-2 text-success"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fw-normal text-700 mb-0">30.1%</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <svg class="svg-inline--fa fa-caret-up fa-w-10 text-success" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"></path></svg><!-- <span class="fas fa-caret-up text-success"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fs-11 mb-0 ms-2 text-700">29.4%</h6>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <img src="../assets/img/icons/firefox-logo.png" alt="" width="16">
                                            <h6 class="text-600 mb-0 ms-2">Mozilla</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center">
                                            <svg class="svg-inline--fa fa-circle fa-w-16 fs-11 me-2 text-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle fs-11 me-2 text-info"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fw-normal text-700 mb-0">20.6%</h6>
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <svg class="svg-inline--fa fa-caret-up fa-w-10 text-success" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z"></path></svg><!-- <span class="fas fa-caret-up text-success"></span> Font Awesome fontawesome.com -->
                                            <h6 class="fs-11 mb-0 ms-2 text-700">220.7%</h6>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm" data-target=".echart-session-by-browser">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Browser overview<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-4">
            <div class="card">
                <div class="card-header d-flex align-items-center bg-body-tertiary py-2">
                    <h6 class="mb-0 flex-1">Users By Country</h6>
                    <div class="btn-reveal-trigger">
                        <button class="btn btn-link btn-reveal btn-sm session-by-country-map-reset" type="button"><svg class="svg-inline--fa fa-sync-alt fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sync-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z"></path></svg><!-- <span class="fas fa-sync-alt fs-10"></span> Font Awesome fontawesome.com --></button>
                    </div>
                    <div class="dropdown font-sans-serif btn-reveal-trigger">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-session-by-country" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-11"></span> Font Awesome fontawesome.com --></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-session-by-country">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/session-by-country-map.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-session-by-country-map w-100 h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982035" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 473px; height: 200px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;"><canvas data-zr-dom-id="zr_0" width="473" height="200" style="position: absolute; left: 0px; top: 0px; width: 473px; height: 200px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(145px, 25px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;"><strong>Canada :</strong> 0.49%</div></div>
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/session-by-country.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-session-by-country h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982030" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 473px; height: 210px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="473" height="210" style="position: absolute; left: 0px; top: 0px; width: 473px; height: 210px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Country overview<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <img class="me-2" src="../assets/img/icons/signal.png" alt="" height="35">
                        <h5 class="fs-9 fw-normal text-800 mb-0">Ask Falcon Intelligence</h5>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="scrollbar-overlay pt-0 px-x1 ask-analytics simplebar-scrollable-y" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: 0px -20px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px 20px;">
                                            <div class="border border-1 border-300 rounded-2 p-3 ask-analytics-item position-relative mb-3">
                                                <div class="d-flex align-items-center mb-3">
                                                    <svg class="svg-inline--fa fa-code-branch fa-w-12 text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="code-branch" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M384 144c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 36.4 24.3 67.1 57.5 76.8-.6 16.1-4.2 28.5-11 36.9-15.4 19.2-49.3 22.4-85.2 25.7-28.2 2.6-57.4 5.4-81.3 16.9v-144c32.5-10.2 56-40.5 56-76.3 0-44.2-35.8-80-80-80S0 35.8 0 80c0 35.8 23.5 66.1 56 76.3v199.3C23.5 365.9 0 396.2 0 432c0 44.2 35.8 80 80 80s80-35.8 80-80c0-34-21.2-63.1-51.2-74.6 3.1-5.2 7.8-9.8 14.9-13.4 16.2-8.2 40.4-10.4 66.1-12.8 42.2-3.9 90-8.4 118.2-43.4 14-17.4 21.1-39.8 21.6-67.9 31.6-10.8 54.4-40.7 54.4-75.9zM80 64c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16zm0 384c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zm224-320c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16 7.2-16 16-16z"></path></svg><!-- <span class="fas fa-code-branch text-primary"></span> Font Awesome fontawesome.com --><a class="stretched-link text-decoration-none" href="#!">
                                                        <h5 class="fs-10 text-600 mb-0 ps-3">Content Analysis</h5>
                                                    </a>
                                                </div>
                                                <h5 class="fs-10 text-800">Which landing pages with over 10 sessions have the worst bounce rates?</h5>
                                            </div>
                                            <div class="border border-1 border-300 rounded-2 p-3 ask-analytics-item position-relative mb-3">
                                                <div class="d-flex align-items-center mb-3">
                                                    <svg class="svg-inline--fa fa-bug fa-w-16 text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bug" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M511.988 288.9c-.478 17.43-15.217 31.1-32.653 31.1H424v16c0 21.864-4.882 42.584-13.6 61.145l60.228 60.228c12.496 12.497 12.496 32.758 0 45.255-12.498 12.497-32.759 12.496-45.256 0l-54.736-54.736C345.886 467.965 314.351 480 280 480V236c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v244c-34.351 0-65.886-12.035-90.636-32.108l-54.736 54.736c-12.498 12.497-32.759 12.496-45.256 0-12.496-12.497-12.496-32.758 0-45.255l60.228-60.228C92.882 378.584 88 357.864 88 336v-16H32.666C15.23 320 .491 306.33.013 288.9-.484 270.816 14.028 256 32 256h56v-58.745l-46.628-46.628c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0L141.255 160h229.489l54.627-54.627c12.498-12.497 32.758-12.497 45.256 0 12.496 12.497 12.496 32.758 0 45.255L424 197.255V256h56c17.972 0 32.484 14.816 31.988 32.9zM257 0c-61.856 0-112 50.144-112 112h224C369 50.144 318.856 0 257 0z"></path></svg><!-- <span class="fas fa-bug text-primary"></span> Font Awesome fontawesome.com --><a class="stretched-link text-decoration-none" href="#!">
                                                        <h5 class="fs-10 text-600 mb-0 ps-3">Technical performance</h5>
                                                    </a>
                                                </div>
                                                <h5 class="fs-10 text-800">Show me a trend of my average page load time over the last 3 months</h5>
                                            </div>
                                            <div class="border border-1 border-300 rounded-2 p-3 ask-analytics-item position-relative mb-3">
                                                <div class="d-flex align-items-center mb-3">
                                                    <svg class="svg-inline--fa fa-project-diagram fa-w-20 text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="project-diagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M384 320H256c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32zM192 32c0-17.67-14.33-32-32-32H32C14.33 0 0 14.33 0 32v128c0 17.67 14.33 32 32 32h95.72l73.16 128.04C211.98 300.98 232.4 288 256 288h.28L192 175.51V128h224V64H192V32zM608 0H480c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32V32c0-17.67-14.33-32-32-32z"></path></svg><!-- <span class="fas fa-project-diagram text-primary"></span> Font Awesome fontawesome.com --><a class="stretched-link text-decoration-none" href="#!">
                                                        <h5 class="fs-10 text-600 mb-0 ps-3">Technical performance</h5>
                                                    </a>
                                                </div>
                                                <h5 class="fs-10 text-800">What are my top default channel groupings by user?</h5>
                                            </div>
                                            <div class="border border-1 border-300 rounded-2 p-3 ask-analytics-item position-relative mb-3">
                                                <div class="d-flex align-items-center mb-3">
                                                    <svg class="svg-inline--fa fa-map-marker-alt fa-w-12 text-primary" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg><!-- <span class="fas fa-map-marker-alt text-primary"></span> Font Awesome fontawesome.com --><a class="stretched-link text-decoration-none" href="#!">
                                                        <h5 class="fs-10 text-600 mb-0 ps-3">Geographic Analysis</h5>
                                                    </a>
                                                </div>
                                                <h5 class="fs-10 text-800">What pages do people from California go to the most?</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="simplebar-placeholder" style="width: 513px; height: 440px;"></div>
                        </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 412px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary text-end py-2"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">More Insights<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-7 d-flex flex-column align-items-stretch">
            <div class="card mb-3 h-100">
                <div class="card-header d-flex flex-between-center bg-body-tertiary py-2">
                    <h6 class="mb-0">Active Users</h6>
                    <div class="dropdown font-sans-serif btn-reveal-trigger">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-active-user-report" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-11"></span> Font Awesome fontawesome.com --></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-active-user-report">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-auto mt-md-0">
                            <div class="row flex-md-column justify-content-between h-md-100 ms-0">
                                <div class="col border-end border-end-md-0 border-bottom-md pt-3">
                                    <h6 class="fs-11 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-primary me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-primary me-2"></span> Font Awesome fontawesome.com -->Mobile</h6>
                                    <h5 class="text-700 fs-9">10,325</h5>
                                </div>
                                <div class="col border-end border-end-md-0 border-bottom-md pt-3 pt-md-4">
                                    <h6 class="fs-11 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-success me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-success me-2"></span> Font Awesome fontawesome.com -->Desktop</h6>
                                    <h5 class="text-700 fs-9">4,235</h5>
                                </div>
                                <div class="col pt-3 pt-md-4">
                                    <h6 class="fs-11 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-info me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-info me-2"></span> Font Awesome fontawesome.com -->Tablet</h6>
                                    <h5 class="text-700 fs-9">3,575</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto echart-active-users-report-container">
                            <!-- Find the JS file for the following chart at: src/js/charts/echarts/active-users-report.js-->
                            <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                            <div class="echart-active-users-report h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982031" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                                <div style="position: relative; width: 441px; height: 260px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="441" height="260" style="position: absolute; left: 0px; top: 0px; width: 441px; height: 260px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(-44px, -17px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;">
                                    <div>
                                        <p class="mb-2 text-600">Sep 20, 2025</p>
                                        <div class="ms-1">
                                            <h6 class="fs-10 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-primary me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-primary me-2"></span> Font Awesome fontawesome.com -->4164</h6>
                                            <h6 class="fs-10 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-success me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-success me-2"></span> Font Awesome fontawesome.com -->2164</h6>
                                            <h6 class="fs-10 text-700"><svg class="svg-inline--fa fa-circle fa-w-16 text-info me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle text-info me-2"></span> Font Awesome fontawesome.com -->1069</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <h6 class="mb-0"><a class="py-2" href="#!">Active users report<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body py-5 py-sm-3">
                    <div class="row g-5 g-sm-0">
                        <div class="col-sm-4">
                            <div class="border-end-sm border-300">
                                <div class="text-center">
                                    <h6 class="text-700">Completed Goals</h6>
                                    <h3 class="fw-normal text-700">1727</h3>
                                </div>
                                <div class="echart-goal-charts" data-echart-responsive="true" data-echarts="{&quot;tooltip&quot;:{&quot;show&quot;:false},&quot;series&quot;:[{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:[172,129,123,158,196,106,187,198,152,175,178,165,188,139,115,131,143,140,112,167,180,156,121,190,100],&quot;symbol&quot;:&quot;none&quot;,&quot;itemStyle&quot;:{&quot;barBorderRadius&quot;:[5,5,0,0]}}],&quot;grid&quot;:{&quot;right&quot;:&quot;16px&quot;,&quot;left&quot;:&quot;0&quot;,&quot;bottom&quot;:&quot;0&quot;,&quot;top&quot;:&quot;0&quot;}}" _echarts_instance_="ec_1760895982023" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 186px; height: 30px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="186" height="30" style="position: absolute; left: 0px; top: 0px; width: 186px; height: 30px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="border-end-sm border-300">
                                <div class="text-center">
                                    <h6 class="text-700">Value</h6>
                                    <h3 class="fw-normal text-700">$34.2M</h3>
                                </div>
                                <div class="echart-goal-charts" data-echart-responsive="true" data-echarts="{&quot;tooltip&quot;:{&quot;show&quot;:false},&quot;series&quot;:[{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:[170,156,171,193,108,178,163,175,117,123,174,199,122,111,113,140,192,167,186,172,131,187,135,115,118],&quot;symbol&quot;:&quot;none&quot;,&quot;itemStyle&quot;:{&quot;barBorderRadius&quot;:[5,5,0,0]}}],&quot;grid&quot;:{&quot;right&quot;:&quot;16px&quot;,&quot;left&quot;:&quot;16px&quot;,&quot;bottom&quot;:&quot;0&quot;,&quot;top&quot;:&quot;0&quot;}}" _echarts_instance_="ec_1760895982024" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 186px; height: 30px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="186" height="30" style="position: absolute; left: 0px; top: 0px; width: 186px; height: 30px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <div class="text-center">
                                    <h6 class="text-700">Conversion Rate</h6>
                                    <h3 class="fw-normal text-700">19.67%</h3>
                                </div>
                                <div class="echart-goal-charts" data-echart-responsive="true" data-echarts="{&quot;tooltip&quot;:{&quot;show&quot;:false},&quot;series&quot;:[{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:[199,181,155,164,108,158,117,148,121,152,189,116,111,130,113,171,193,104,110,153,190,162,180,114,183],&quot;symbol&quot;:&quot;none&quot;,&quot;itemStyle&quot;:{&quot;barBorderRadius&quot;:[5,5,0,0]}}],&quot;grid&quot;:{&quot;right&quot;:&quot;0&quot;,&quot;left&quot;:&quot;16px&quot;,&quot;bottom&quot;:&quot;0&quot;,&quot;top&quot;:&quot;0&quot;}}" _echarts_instance_="ec_1760895982025" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 187px; height: 30px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="187" height="30" style="position: absolute; left: 0px; top: 0px; width: 187px; height: 30px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card h-100">
                <div class="card-header d-flex flex-between-center bg-body-tertiary py-2">
                    <h6 class="mb-0">Ad campaigns perfomance</h6>
                    <div class="dropdown font-sans-serif btn-reveal-trigger">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-campaign-perfomance" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-11"></span> Font Awesome fontawesome.com --></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-campaign-perfomance">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <h6 class="text-700">Revenue</h6>
                                <h3 class="fw-normal text-700">$10.87k</h3>
                            </div>
                            <div class="w-100" style="min-height: 50px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="true" data-echarts="{&quot;series&quot;:[{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:[101,165,140,162,121,190,139],&quot;symbol&quot;:&quot;none&quot;,&quot;color&quot;:&quot;#f5803e&quot;,&quot;areaStyle&quot;:{&quot;color&quot;:{&quot;type&quot;:&quot;linear&quot;,&quot;x&quot;:0,&quot;y&quot;:0,&quot;x2&quot;:0,&quot;y2&quot;:1,&quot;colorStops&quot;:[{&quot;offset&quot;:0,&quot;color&quot;:&quot;rgba(245, 128, 62, .25)&quot;},{&quot;offset&quot;:1,&quot;color&quot;:&quot;rgba(245, 128, 62, 0)&quot;}]}}}],&quot;xAxis&quot;:{&quot;boundaryGap&quot;:false},&quot;grid&quot;:{&quot;right&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;0&quot;,&quot;bottom&quot;:&quot;0&quot;,&quot;top&quot;:&quot;20px&quot;}}" _echarts_instance_="ec_1760895982026"><div style="position: relative; width: 176px; height: 50px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="176" height="50" style="position: absolute; left: 0px; top: 0px; width: 176px; height: 50px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                        </div>
                        <div class="col-6">
                            <div>
                                <h6 class="text-700">Clicks</h6>
                                <h3 class="fw-normal text-700">3.8k</h3>
                            </div>
                            <div class="w-100" style="min-height: 50px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;" data-echart-responsive="true" data-echarts="{&quot;series&quot;:[{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:[119,199,195,101,155,131,180],&quot;symbol&quot;:&quot;none&quot;}],&quot;xAxis&quot;:{&quot;boundaryGap&quot;:false},&quot;grid&quot;:{&quot;right&quot;:&quot;20px&quot;,&quot;left&quot;:&quot;0&quot;,&quot;bottom&quot;:&quot;0&quot;,&quot;top&quot;:&quot;20px&quot;}}" _echarts_instance_="ec_1760895982027"><div style="position: relative; width: 176px; height: 50px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="176" height="50" style="position: absolute; left: 0px; top: 0px; width: 176px; height: 50px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                        </div>
                    </div>
                    <div class="mx-nx1">
                        <div class="table-responsive scrollbar">
                            <table class="table fs-10 mb-0 overflow-hidden">
                                <thead class="bg-100">
                                    <tr>
                                        <th class="text-800 text-nowrap">Top Campaigns</th>
                                        <th class="text-800 text-nowrap text-end">Cost</th>
                                        <th class="text-800 text-nowrap text-end">Revenue from Ads</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-truncate">Black Friday Sale</td>
                                        <td class="text-truncate text-end">$1304.28</td>
                                        <td class="text-truncate text-end">$543217.65</td>
                                    </tr>
                                    <tr>
                                        <td class="text-truncate">Christmas Bundle</td>
                                        <td class="text-truncate text-end">$9876.56</td>
                                        <td class="text-truncate text-end">$3904</td>
                                    </tr>
                                    <tr>
                                        <td class="text-truncate">Halloween Party Started 🎃 👻</td>
                                        <td class="text-truncate text-end">$3267.84</td>
                                        <td class="text-truncate text-end">$7654.8</td>
                                    </tr>
                                    <tr>
                                        <td class="text-truncate">Grab your reward</td>
                                        <td class="text-truncate text-end">$87545.28</td>
                                        <td class="text-truncate text-end">$68654.35</td>
                                    </tr>
                                    <tr>
                                        <td class="text-truncate">Black Friday Sale</td>
                                        <td class="text-truncate text-end">$1304.28</td>
                                        <td class="text-truncate text-end">$3904</td>
                                    </tr>
                                    <tr>
                                        <td class="text-truncate">Boxing Day offer</td>
                                        <td class="text-truncate text-end">$1200.5</td>
                                        <td class="text-truncate text-end">$5004.87</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Ad campaigns<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-lg-5 col-xxl-4">
            <div class="card">
                <div class="card-header bg-body-tertiary py-3">
                    <h6 class="mb-0">Users at a Time</h6>
                </div>
                <div class="card-body">
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/users-by-time.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-users-by-time h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982034" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 385px; height: 396px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="385" height="396" style="position: absolute; left: 0px; top: 0px; width: 385px; height: 396px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Overview<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xxl-8">
            <div class="card h-100" id="table" data-list="{&quot;valueNames&quot;:[&quot;path&quot;,&quot;views&quot;,&quot;time&quot;,&quot;exitRate&quot;],&quot;page&quot;:8,&quot;pagination&quot;:true,&quot;fallback&quot;:&quot;pages-table-fallback&quot;}">
                <div class="card-header">
                    <div class="row flex-between-center">
                        <div class="col-auto col-sm-6 col-lg-7">
                            <h6 class="mb-0 text-nowrap py-2 py-xl-0">What are my top pages today?</h6>
                        </div>
                        <div class="col-auto col-sm-6 col-lg-5">
                            <div class="h-100">
                                <form>
                                    <div class="input-group">
                                        <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search for a page" aria-label="search">
                                        <button class="btn btn-sm btn-outline-secondary border-300 hover-border-secondary"><svg class="svg-inline--fa fa-search fa-w-16 fs-10" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <span class="fa fa-search fs-10"></span> Font Awesome fontawesome.com --></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 py-0">
                    <div class="table-responsive scrollbar">
                        <table class="table fs-10 mb-0 overflow-hidden">
                            <thead class="bg-200">
                                <tr>
                                    <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="path">Page Path</th>
                                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end" data-sort="views">Page Views</th>
                                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end" data-sort="time">Avg Time on Page</th>
                                    <th class="text-900 sort pe-x1 align-middle white-space-nowrap text-end" data-sort="exitRate">Exit Rate</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/sparrow/landing-page</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">1455</td>
                                    <td class="align-middle white-space-nowrap time text-end">2m:25s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">20.4%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/falcon/pages/starter.html</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">1422</td>
                                    <td class="align-middle white-space-nowrap time text-end">2m:14s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">52.4%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/pages/falcon-webapp-theme</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">1378</td>
                                    <td class="align-middle white-space-nowrap time text-end">2m:23s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">25.1%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/product/sparrow-bootstrap-theme</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">1144</td>
                                    <td class="align-middle white-space-nowrap time text-end">2m:2s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">6.3%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/themes/falcon/components</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">11047</td>
                                    <td class="align-middle white-space-nowrap time text-end">1m:16s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">49.3%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/themewagon.com/themes/free-website-template</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">1007</td>
                                    <td class="align-middle white-space-nowrap time text-end">0m:34s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">35.9%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/mailbluster.com/about</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">997</td>
                                    <td class="align-middle white-space-nowrap time text-end">1m:5s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">87.3%</td>
                                </tr>
                                <tr class="btn-reveal-trigger">
                                    <td class="align-middle white-space-nowrap path"><a class="text-primary fw-semi-bold" href="#!">/technext.it/services</a></td>
                                    <td class="align-middle white-space-nowrap views text-end">983</td>
                                    <td class="align-middle white-space-nowrap time text-end">1m:16s</td>
                                    <td class="align-middle text-end exitRate text-end pe-x1">74.3%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center d-none" id="pages-table-fallback">
                        <p class="fw-bold fs-8 mt-3">No Page found</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="pagination d-none"><li class="active"><button class="page" type="button" data-i="1" data-page="8">1</button></li><li><button class="page" type="button" data-i="2" data-page="8">2</button></li></div>
                        <div class="col">
                            <p class="mb-0 fs-10"><span class="d-none d-sm-inline-block me-2" data-list-info="data-list-info">1 to 8 of 13</span></p>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="btn btn-sm btn-primary disabled" type="button" data-list-pagination="prev" disabled=""><span>Previous</span></button>
                            <button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-5 col-xxl-6">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="text-900 fs-9 mb-2">Trend of Bounce Rate</h5>
                    <h6 class="mb-0 fs-11 text-500">Nov 1, 2020–Jan 31, 2021</h6>
                </div>
                <div class="card-body">
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/bounce-rate.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-bounce-rate h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982033" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                        <div style="position: relative; width: 385px; height: 322px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="385" height="322" style="position: absolute; left: 0px; top: 0px; width: 385px; height: 322px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(103px, 218px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;">
                            <div>
                                <p class="mb-0 text-600">30, September</p>
                                <div class="d-flex align-items-center">
                                    <p class="mb-0 text-600">
                                        Rate : <span class="text-800">43%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm" data-target=".echart-bounce-rate">
                                <option value="week">Last 7 days</option>
                                <option value="month" selected="selected">Last month</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">View full report<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xxl-6">
            <div class="card">
                <div class="card-header d-flex flex-between-center bg-body-tertiary py-2">
                    <h6 class="mb-0">Traffic source</h6>
                    <div class="dropdown font-sans-serif btn-reveal-trigger">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-traffic-channel" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><svg class="svg-inline--fa fa-ellipsis-h fa-w-16 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <span class="fas fa-ellipsis-h fs-11"></span> Font Awesome fontawesome.com --></button>
                        <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-traffic-channel">
                            <a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Find the JS file for the following chart at: src/js/charts/echarts/traffic-channels.js-->
                    <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/theme.js-->
                    <div class="echart-traffic-channels h-100" data-echart-responsive="true" _echarts_instance_="ec_1760895982032" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">
                        <div style="position: relative; width: 561px; height: 350px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="561" height="350" style="position: absolute; left: 0px; top: 0px; width: 561px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; background-color: rgb(249, 250, 253); border-width: 1px; border-radius: 4px; color: rgb(11, 23, 39); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 7px 10px; top: 0px; left: 0px; transform: translate3d(-71px, -85px, 0px); border-color: rgb(216, 226, 239); pointer-events: none; visibility: hidden; opacity: 0;">
                            <div>
                                <p class="mb-2 text-600">
                                    October 13
                                </p>
                                <div class="ms-1">
                                    <h6 class="text-700">
                                        <svg class="svg-inline--fa fa-circle fa-w-16 me-1 fs-11" style="color: #2c7be5;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 fs-11" style="color:#2c7be5"></span> Font Awesome fontawesome.com -->
                                        Display : 320
                                    </h6>
                                </div><div class="ms-1">
                                    <h6 class="text-700">
                                        <svg class="svg-inline--fa fa-circle fa-w-16 me-1 fs-11" style="color: rgba(44,123,229, 0.8);" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 fs-11" style="color:rgba(44,123,229, 0.8)"></span> Font Awesome fontawesome.com -->
                                        Direct : 120
                                    </h6>
                                </div><div class="ms-1">
                                    <h6 class="text-700">
                                        <svg class="svg-inline--fa fa-circle fa-w-16 me-1 fs-11" style="color: rgba(44,123,229, 0.6);" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 fs-11" style="color:rgba(44,123,229, 0.6)"></span> Font Awesome fontawesome.com -->
                                        Organic Search : 220
                                    </h6>
                                </div><div class="ms-1">
                                    <h6 class="text-700">
                                        <svg class="svg-inline--fa fa-circle fa-w-16 me-1 fs-11" style="color: rgba(44,123,229, 0.4);" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 fs-11" style="color:rgba(44,123,229, 0.4)"></span> Font Awesome fontawesome.com -->
                                        Paid Search : 150
                                    </h6>
                                </div><div class="ms-1">
                                    <h6 class="text-700">
                                        <svg class="svg-inline--fa fa-circle fa-w-16 me-1 fs-11" style="color: rgba(44,123,229, 0.2);" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <span class="fas fa-circle me-1 fs-11" style="color:rgba(44,123,229, 0.2)"></span> Font Awesome fontawesome.com -->
                                        Other : 820
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body-tertiary py-2">
                    <div class="row flex-between-center g-0">
                        <div class="col-auto">
                            <select class="form-select form-select-sm audience-select-menu">
                                <option value="week" selected="selected">Last 7 days</option>
                                <option value="month">Last month</option>
                                <option value="year">Last Year</option>
                            </select>
                        </div>
                        <div class="col-auto"><a class="btn btn-link btn-sm px-0 fw-medium" href="#!">Acquisition overview<svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-1 fs-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg><!-- <span class="fas fa-chevron-right ms-1 fs-11"></span> Font Awesome fontawesome.com --></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>